1. Create a user dictionary with 3 attributes: username, password, full_name - Done
2. Print the password of the user 'lightgoddess' (position is known) - Done 
3. Print the password of the user 'lightgoddess' (position is unknown) - In Progress   